.breadcrumb {
    background: none;
    max-width: 60rem;
    padding: 0 4rem;
    margin: 1.875rem auto 0;

    a {
        color: color-set(cool-gray,500);
        font-size: 0.8125rem;
        line-height: 1.3;

        &:hover {
            color: color-set(cool-gray,600);
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    display: flex;
    align-items: center;
    margin: 0 0.25rem;
    color: color-set(cool-gray,400);
    font-size: 0.7rem;
    font-family: $font-awesome;
    font-weight: 300;
    content: "\f054";
}
