.community {
  padding-top: calc(#{$navbar-height} + #{$banner-height});

  .inner {
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
  }

  .top {
    height: 33.75rem;
    background: url("/images/home/wonny-and-friends.png") no-repeat 50% 0 / 100% auto;
    color: transparent;
  }

  section {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  .about-community {
      border-bottom: solid 1px $navy200;
      h3 {
        font-size: 2.25rem;
        line-height: 1.25;
        font-weight: 700;
        color: $navy600;
      }
      p {
        margin-top: 20px;
        font-size: 1.125rem;
        line-height: 1.5;
        color: $black;
      }
  }

  .community-channels {
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 5rem;
    h4 {
      font-size: 1.75rem;
      line-height: 1.25;
      font-weight: 700;
      color: $navy600;
    }
    .channels-list {
      display: flex;
      justify-content: center;
      column-gap: 1rem;
      margin-top: 2.25rem;
      flex-wrap: wrap;
    }
    .channel {
      &-item  {
        width: 15.8125rem;
      }
      &-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 2.25rem 0.75rem 2.75rem;
        border-radius: 1rem;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 1rem rgba(31, 27, 56, 0.1);
        }
      }
      &-icon {
        display: inline-block;
        width: 7.5rem;
        > img {
          width: 100%;
        }
      }
      &-name {
        display: block;
        margin: 1rem 0 0.5rem;
        font-size: 1.75rem;
        line-height: 1.25;
        font-weight: 700;
        color: currentColor;
      }
      &-description {
        color: $navy500;
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .inner {
    padding: 0 24px;
  }
}

@media only screen and (max-width: 767px) {
  .community {
    .community-channels {
      .channel-item {
        width: 100%;
      }
    }
  }
}
