//
// Style Markdown content
//

.td-content {
  max-width: 55rem;
  order: 1;
  padding: 1.5rem 1rem 2.5rem;
  background-color: $white;
  border: solid 1px $navy100;
  font-size: 1rem;

  h1 {
    font-weight: $font-weight-bold;
  }

  h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
    display: none;
  }

  >h3, >h4, >h5, >h6, >.h2, >.h3, >.h4, >.h5, >.h6 {
    margin-top: 1.875rem;
    margin-bottom: 0.5rem;
  }

  >h2, >.h2 {
    margin-top: 3.75rem;
  }

  h4 {
    font-weight: $font-weight-bold;
  }

  h6 {
    color: $navy400;
  }

  > p {
    max-width: unset;
  }

  >ul, >ol {
    max-width: unset;
    line-height: 1.3;
    list-style: initial;
    padding-left: 2em;
    margin: 0.5rem 0;
  }

  >ol {
    list-style: decimal;
  }

  figure {
    margin: 1.5rem 0;
  }

  img {
    @extend .img-fluid;

  }

  > table {
    @extend .table-striped;

    @extend .table-responsive;

    @extend .table;
  }

  > blockquote {
    padding: 0 0 0 1rem;
    margin-bottom: $spacer;
    color: $gray-600;
    border-left: 6px solid $secondary;
  }

  > ul li, > ol li {
    margin-bottom: .25rem;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  > pre, > .highlight, > .lead, > h1, > h2, > ul, > ol, > p, > blockquote, > dl dd, .footnotes, > .alert {
    @extend .td-max-width-on-larger-screens;
  }

  > pre, .highlight {
    max-width: 90%;
    margin: 1rem 0;
    background-color: $navy000;
  }

  .alert {
    margin-top: 1rem;
    word-break: keep-all;
    word-wrap: break-word;
  }

  .alert-heading {
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
  }

  .page-summary {
    margin-top: 1.5rem;
    margin-bottom: 3.75rem;
  }

  > table {
    margin-top: 1rem
  }

  code {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
  }
}

.td-title {
  margin-top: 1rem;
  margin-bottom: .5rem;

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

.fa-external-link-alt {
  margin-left: 0.5rem;
}

#btn-scroll-top {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  z-index: 10;
  display: none;
  padding: 0;
  margin-left: -1.1rem;
  font-size: 2.2rem;
  border: 0;
  background-color: #F2F4F5;
  color: $navy500;
  border-radius: 50%;
  cursor: pointer;
}

.video-wrapper {
  max-width: 35rem;

  .video {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 56.25%; // 16:9
    background-color: $navy500;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.link-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  border-width: 0.0625rem;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.6;

  &.navy400 {
    border-color: $navy400;
    background-color: $navy400;
    color: $white;
  }

  &.white {
    border-color: $navy300;
    background-color: $white;
    color: $navy400;
  }

  .fas {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 1023.999px) {
  .td-content {
    margin: 0 auto;
  }
}