footer {
  min-height: auto;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: solid 0.0625rem #D6DBDF;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    margin-top: auto;
    color: #415567;
  }

  .copyright {
    img {
      width: 2.5rem
    }
  }
  .license {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.6;
    a {
      color: inherit;
    }
  }
  .external-link {
    display: flex;
    a {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: currentColor;
    }
    i {
      color: currentColor;
      font-size: 1.75rem;
    }

  }
}

@media only screen and (max-width: 1023px) {
  footer {
    padding-left: 1rem;
    padding-right: 1rem;

    .inner {
      flex-direction: column;
      justify-content: initial;
      width: 100%;

      .copyright {
        align-self: flex-start;
      }

      .external-link {
        margin-top: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .documentation footer {
    max-width: 55rem;
    margin-left: 16.3125rem;
    margin-right: calc(15.3125rem + 1rem);
  }

  .community footer {
    width: 55rem;
    margin: 0 auto;
  }
}
