footer {
  min-height: auto;
  .inner {
    margin-top: auto;
  }

  .contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    color: #415567;
  }

  .copyright {
    text-align: left;
    img {
      width: 2.5rem
    }
  }

  .license {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.6;
    a {
      color: inherit;
    }
  }

  .external-link {
    display: flex;
    a {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: currentColor;
    }
    i {
      color: currentColor;
      font-size: 1.75rem;
    }

  }

  .td-home & {
    background-color: $dark-bg;
    .inner {
      max-width: 112rem;
      margin: 0 auto;
    }
    .contents {
      //padding: 2rem 1.5rem 2.5rem;
      border-top: none;
      color: $navy300;
    }
  }
}

@media only screen and (max-width: 1023px) {
  footer {
    padding-left: 1rem;
    padding-right: 1rem;

    .contents {
      flex-direction: column;
      justify-content: initial;
      width: 100%;
    }

    .copyright {
      align-self: flex-start;
    }

    .external-link {
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .documentation footer {
    padding-left: $td-sidebar-width;
    padding-right: $table-of-contents-with;

    .inner {
      max-width: 60rem;
      padding-right: 4rem;
      padding-left: 4rem;
      margin: 0 auto;
    }
  }

  .community footer {
    width: 55rem;
    margin: 0 auto;
  }
}
