@media only screen and (min-width: 767.999px) and (max-width: 1023.999px) {
  .only-desktop {
    display: none !important;
  }
  .only-tablet {
    display: inline-block;
  }
  .only-mobile {
    display: none !important;
  }
  .td-home {
    .main-section {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 64rem;
      padding:0 3.125rem;
    }
    .inner {
      width: 100%;
      padding-top: 0;
    }
  }
  
  // section
  .section-top {
    overflow: hidden;
    min-height: 64rem;
    .sub {
      max-width: 67.9%;
    }
    .btn-git {
      margin-top: 19.0625rem;
      span {
        margin: 0 0.3125rem;
      }
    }
    figure {
      &.bg-ellipse2 {
        width: 18.375rem;
        height: 16.6875rem;
        margin-left: 4.375rem;
      }
      &#spaceman {
        top: 37.5rem;
        width: 11.25rem;
        height: 11.25rem;
        margin-left: -5.625rem;
      }
    }
  }
  .section-feature {
    .main-content {
      flex-direction: column;
      margin-top: 5.625rem;
    }
    p {
      margin-bottom: 2.5rem;
    }
    .bg-ellipse3 {
      max-width: 120vw;
      margin-bottom: 0;
    }
  }
  .section-approach {
    .carousel {
      max-width: 66.25rem;
      height: 48rem;
      padding-bottom: 3.125rem;
    }
    .carousel-item {
      img {
        width: 80%;
        margin: 0 auto;
      }
      .carousel-caption {
        position: static;
        width: 100%;
        min-height: 7rem;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 1.4375rem;
        text-align: left;
      }
      p {
        font-size: 1.3125rem;
      }
    }
    .carousel-indicators {
      width: 100%;
      left: 0;
    }
    .carousel-control-prev {
      left: 10.8125rem;
    }
    .carousel-control-next {
      right: 10.8125rem;
    }
  }
  .section-strength {
    .main-content {
      flex-wrap: wrap;
      width: 100%;
    }
    .strength {
      width: 47.4%;
      padding: 0 1.25rem 2.0625rem;
      margin-bottom: 1.875rem;
      p {
        padding-right: 0;
      }
    }
    figure {
      width: 7.125rem;
      height: 7.125rem;
    }
    h4 {
      margin-top: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }
  .section-universe {
    h3 {
      top: 7.375rem;
      left: 0;
      width: 100%;
      margin-left: 0;
      text-align: center;
    }
    .universe {
      width: 100%;
      top: 3rem;
      transform: translateX(calc(-50% - 28.875rem));
    }
  }
  .section-mission {
    .mission {
      font-size: 1.625rem;
    }
    figure {
      width: 7.5rem;
      height: 7.5rem;
    }
    > p:last-of-type {
      font-size: 1.5rem;
    }
  }


  // footer_home
  .footer-home {
    min-height: auto;
    padding: 11rem 3.125rem 6.25rem;
  }
  .footer-content {
    .logo {
      left: 0;
    }
    .info {
      flex-basis: 50%;
      flex-shrink: 0;
    }
    .copyright {
      flex-basis: 100%;
      margin-bottom: 4rem;
    }
  }
}