// font
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=block');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

// default
html {
  p {
    margin-bottom: 0;
  }
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  figure {
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
  }
}
::-webkit-scrollbar {
  display: none !important;
}

*:lang(en) .td-home {
  font-family: "Work Sans";
}

// color set (only for home)
$dark-bg: rgba(220, 218, 233, 0.16) !important;
$gradient1: linear-gradient(90deg, #00E6E5 0%, #C8A6F4 51.04%, #61A2F5 76.3%, #009FF5 100%);
$gradient2: linear-gradient(92.98deg, #00E0D9 3.49%, #009FF5 94.89%);

.btn-link {
  // button link
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9rem;
  height: 2.5rem;
  padding: 0 1.5rem;
  color: $white;
  border-radius: 1.875rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", "Work Sans";
  cursor: pointer;
  transition: all .25s;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $gradient1;
    border-radius: 1.875rem;
  }
  &:hover {
    background-color: transparent;
    color: $white;
  }
}
.btn-link-green {
  background: $gradient2;
}
.btn-link-gradient {
  top: 0.125rem;
  min-width: calc(9rem - 0.25rem);
  height: calc(2.5rem - 0.25rem);
  background: #717dba;
  &:after {
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
  }
  &.link-github:before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-image: url('/images/home/github-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0.375rem;
    &:hover {
      background-image: url('/images/home/github_logo_fill.svg');
    }
  }
}

// section
.td-home {
  background-color: $navy600;
  word-break: keep-all;

  .td-navbar {
    &.active {
      background-color: $navy600;
    }
  }

  .td-outer {
    padding: 0;
  }

  .td-main {
    margin-bottom: 0;
    background-color: transparent;
  }

  .section {
    overflow: hidden;
    height: 100vh;
    &.bg-dark {
      background-color: $dark-bg;
    }
    .inner {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 2rem;
      width: 100%;
      height: 100%;
      max-width: 66.25rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin: 0 auto;
      text-align: center;
      color: $purple100;
      letter-spacing: -0.01em;
    }
    h3 {
      width: 100%;
      color: $pink100;
      font-weight: bold;
      opacity: 0.8;
      font-size: 1.25rem;
      text-transform: uppercase;
      text-align: left;
    }
  }

  .section-main {
    height: 100vh;
    position: relative;
    background: url("/images/home/bg_hero.png") no-repeat 50% 0 / 100% auto;

    h2 {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1;
      color: $purple100;
      em {
        background: $gradient1;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
      }
    }
    .sub-title {
      max-width: 39.0625rem;
      margin: 0 auto 1.5rem;
      color: $navy100;
      font-size: 1.5rem;
      line-height: 1.3;
    }
    .btn-group {
      display: inline-flex;
      justify-content: center;
      gap: 1.5rem;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("/images/home/bg_dot.png") repeat-x 0 0 / 1.09375rem auto;
    }
  }

  .section-feature {

    .feature {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 2.5rem;
      align-items: center;
      .contents {
        grid-column-end: span 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        h4 {
          color: $purple200;
          font-size: 2.25rem;
          line-height: 1.3;
          font-weight: 500;
        }
        .description {
          display: inline-block;
          margin-top: 3.33vh;
          font-size: 1.25rem;
          letter-spacing: -0.02em;
          color: $navy200;
        }
      }
      .img-feature {
        grid-column-end: span 8;
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }

  .feature-management {
    position: relative;
    background: url("/images/home/bg_hero.png") no-repeat 50% -100vh / 100% auto;
    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("/images/home/bg_dot.png") repeat-x 0 -100vh / 1.09375rem auto;
    }
  }

  .feature-notification {
    .feature {
      grid-template-columns: auto;
      grid-row-gap: 2rem;
      justify-items: center;
      .contents {
        grid-column: unset;
        width: 55%;
        text-align: center;
      }
      .img-feature {
        width: 81vh;
        height: auto;
      }
    }
  }

  .feature-analysis {
    .feature {
      position: relative;
      z-index: 1;
      .contents {
        order: 1;
      }
    }
    .inner {
      &:before,
      &:after {
        content:'';
        position: absolute;
        left: 50%;
        display: inline-block;
        width: 35rem;
        height: 35rem;
        margin-top: -18rem;
        margin-left: -15rem;
        background-size: 100%;
        background-image: url("/images/home/bg_ellipse_purple.png");
      }
      &:after {
        margin-top: 15rem;
        margin-left: -8rem;
        background-image: url("/images/home/bg_ellipse_green.png");
      }
    }
  }

  .feature-by-project {
    .feature{
      .contents {
        grid-column: 1 / span 5;
      }
      .img-feature {
        grid-column-end: span 7;
      }
    }
  }

  .section-strength {
    h3 {
      text-align: center;
    }
    .strength-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2.5rem;
      width: 100%;
    }
    .strength {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2.5rem 1.5rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      text-align: left;
      .img-strength {
        width: 8.75rem;
        height: 8.75rem;
        margin: 0 auto;
      }
      h4 {
        margin-top: 1.5625rem;
        margin-bottom: 0.75rem;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.1875rem;
        letter-spacing: 0.0625rem;
        color: $purple200;
      }
      .description {
        margin-bottom: 0;
        font-family: "Roboto", "pretenPretendard Variable";
        font-size: 1.25rem;
        line-height: 1.6;
        opacity: 0.8;
        color: $purple100;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: $dark-bg;
        opacity: 0.3;
        border-radius: 0.5rem;
      }
    }
  }

  .section-universe {
    h3 {
      visibility: hidden;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 13.5%;
      width: 6.25rem;
      text-align: center;
      transform: translateY(-50%);
    }
    .img-universe {
      width: 100vw;
      margin-left: -26.875rem;
    }
  }

  .section-mission {
    text-align: center;
    .inner {
      padding-top: 3.75rem;
    }
    h4 {
      max-width: 40rem;
      font-size: 1.5rem;
      line-height: 1.3;
      color: $purple100;
      margin-bottom: 0;
      margin-right: auto;
      margin-left: auto;
      opacity: 0.8;
    }
    .img-mission {
      width: 6.875rem;
      height: 6.875rem;
    }
    .description {
      font-weight: 500;
      font-size: 1.875rem;
      background: $gradient1;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .btn-link {
      background: $navy600;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

// desktop+
@media screen and (min-width: 1440px) {
  .td-home {
    .section {
      .inner {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

// laptop+
@media screen and (min-width: 1024px) {
  .td-home  {
    .section-universe {
      &.bg-dark{
        background-color: transparent;
      }
      .inner {
        padding-top: 3.75rem;
        max-width: none;
      }
    }
  }

  .swiper {
    width: 100%;
    height: 100vh;
    .swiper-button-next {
      position: fixed;
      bottom: 1.5rem;
      left: 50%;
      width: 1.5rem;
      height: 0.75rem;
      padding: 1.5rem;
      background: url("/images/home/ic_arrow-down.svg") no-repeat 50% 50%;
      margin-left: -0.75rem;
      animation: bounce_down 2s ease-in-out 100;

      &.swiper-button-disabled {
        display: none;
      }
    }
  }
  @keyframes bounce_down {
    0%   { transform:translate(0,-1rem); opacity: 0;}
    50%  { opacity: 1; }
    100% { transform:translate(0,1rem); opacity: 0;}
  }
}

// tablet
@media only screen and (max-width: 1023px) {
  .td-home {
    .section {
      height: auto;
      .inner {
        max-width: 48rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
      h3 {
        text-align: center;
      }
    }

    .section-feature {
      .feature {
        .contents {
          grid-column: unset;
        }
        .img-feature {
          grid-column-end: unset;
        }
      }
    }

    .section-main {
      height: 42rem;
      .inner {
        padding-top: 8.75rem;
      }
    }

    .section-feature {
      .feature {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5rem;
        justify-items: center;

        .contents {
          width: 80%;
          text-align: center;
          .description {
            margin-top: 1.5rem;
          }
        }

        h4 {
          span {
            display: block;
          }
        }
      }
    }

    .feature-management {
      background-position-y: -42rem;
      &:before {
        background-position-y: -42rem;
      }
    }

    .feature-notification {
      .feature {
        .contents {
          width: 80%;
        }
        .img-feature {
          width: 100%;
        }
      }
    }

    .feature-analysis {
      .feature {
        .contents {
          order: initial;
        }
      }
      .inner {
        &:before,
        &:after {
          display: none;
        }
      }
    }

    .section-strength {
      .strength-box {
        grid-template-columns: 1fr;
        row-gap: 1rem;
      }
      .strength {
        align-items: center;
        text-align: center;
        padding: 0;
        .img-strength {
          width: 5rem;
          height: 5rem;
        }
        h4 {
          margin-top: 1rem;
          margin-bottom: 0.75rem;
        }
        .description {
          width: 80%;
        }
        &::after {
          display: none;
        }
      }
    }

    .section-universe {
      .inner {
        max-width: unset;
        padding: 0;
      }
      .img-universe {
        width: 100%;
        margin-left: 0;
      }
    }

    .section-mission {
      h4 {
        max-width: 36rem;
        .lb { // line-break
          display: block;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 767px) {
  html, body {
    font-size: 62.5%; // 10px = 16px(browser default font size) * 0.625
  }
  .td-home {
    h2 {
      font-size: 4rem;
      padding-top: 0;
    }
    .section {
      .inner {
        width: 36rem;
        gap: 1.6rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }

    .section-main {
      height: 51.4rem;
      background-size: 200% auto;

      .btn-group {
        flex-direction: column;
        gap: 2.4rem;
      }
    }

    .feature-management {
      background-size: 200% auto;
      background-position-y: -51.4rem;
      &:before {
        background-position-y: -51.4rem;
      }
    }

    .section-feature {
      .feature {
        .contents {
          width: 100%;
        }
      }
    }

    .section-strength {
      .strength {
        .img-strength {
          width: 8rem;
          height: 8rem;
        }
        h4 {
          margin: 1.6rem 0 1.2rem;
        }
        .description {
          width: 100%;
          font-size: 1.3rem;
        }
      }
    }

    .section-universe {
      .inner {
        padding: 0;
      }
      .img-universe {
        width: 100vw;
      }
    }
  }

  .btn-link {
    min-width: 14.4rem;
    height: 4.1rem;
    font-size: 1.6rem;
  }

  .btn-link-gradient {
    &.link-github:before {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.6rem;
    }
  }
}

// korean version
*:lang(ko) .td-home {
  font-family: "Work Sans", "Pretendard Variable";

  .section-feature {
    .feature {
      .contents {
        width: 100%;
        h4 {
          span {
            display: block;
          }
        }
      }
    }
  }

  .feature-notification {
    .feature {
      .contents {
        .description {
          width: 60%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .feature-by-project {
    .feature {
      .contents {
        .description {
          width: 90%;
        }
      }
    }
  }

  .section-mission {
    h4 {
      max-width: unset;
      .lb {
        display:block;
      }
    }
  }

  // korean tablet
  @media screen and (max-width: 1023px) {
    .section-feature {
      .feature {
        .contents {
          h4 {
            span {
              display: inline-block;
            }
          }
          .description {
            width: 36rem;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    .feature-by-project {
      .feature {
        .contents {
          .description {
            width: 50%;
          }
        }
      }
    }

    .section-strength {
      .description {
        width: 68%;
      }
    }

    .section-mission {
      h4 {
        max-width: 36rem;
      }
    }
  }

  // korean mobile
  @media screen and (max-width: 767px) {
    .section-main {
      h2 {
        font-size: 2.4rem;
        em {
          font-size: 4rem;
        }
      }
    }
    .section-feature {
      .feature {
        .contents {
          .description {
            width: 70%;
          }
        }
      }
    }

    .section-strength {
      .description {
        width: 90%;
      }
    }

    .section-mission {
      .description {
        .lb {
          display: block;
        }
      }
    }
  }
}


