//font
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=block');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

// default
html {
  p {
    margin-bottom: 0;
  }
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  figure {
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
  }
}
::-webkit-scrollbar {
  display: none !important;
}
body {
  background-color: $navy000;
}
*:lang(en) .td-home {
  font-family: "Work Sans";
}

// color set (only for home)
$primary100: #F8F8FC;
$primary200: #EBEAF6;
$primary300: #A8A5CE;
$primary400: #8C81D1;
$gray100: #F7F7F7;
$gray200: #CED0D6;
$gray300: #A7A9B2;
$gray400: #5F616D;

// button link
.btn-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9rem;
  height: 2.5rem;
  padding: 0 1.5rem;
  color: $white;
  border-radius: 1.875rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto";
  cursor: pointer;
  &:hover {
    background: linear-gradient(90deg, #65cba0 0%, #cf88a0 52.6%, #5ca2b1 100%);
    color: $white;
  }
}
.btn-link-green {
  background-color: $green100;
}
.btn-link-gradient {
  top: 0.125rem;
  min-width: calc(9rem - 0.25rem);
  height: calc(2.5rem - 0.25rem);
  background-color: $navy500;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    background: linear-gradient(90deg, #65cba0 0%, #cf88a0 52.6%, #5ca2b1 100%);
    border-radius: 1.875rem;
  }
  &.link-github:before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-image: url('/images/home/github-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0.375rem;
    &:hover {
      background-image: url('/images/home/github_logo_fill.svg');
    }
  }
}


// background
@function multiple-box-shadow($n, $density) {
  $value: "#{random($density)}vh #{random(100)}vh #fff";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random($density)}vh #{random(100)}vh #fff";
  }
  @return unquote($value);
}
$shadows-small: multiple-box-shadow(700,300);
$shadows-medium: multiple-box-shadow(200,300);
$shadows-big: multiple-box-shadow(100,300);
.background-stars {
  content:'';
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.stars {
  width: 1px;
  height: 1px;
  box-shadow: $shadows-small;
  background-color:transparent;
}
.stars2 {
  width: 2px;
  height: 2px;
  box-shadow: $shadows-medium;
  animation: animStar 1.7s linear 200;
}
.stars3 {
  width: 3px;
  height: 3px;
  box-shadow: $shadows-big;
}
@keyframes animStar {
  from {opacity:1;}
  50% {opacity:.3;}
  to {opacity:1;}
}


// section
.td-home {
  background-color: #090a0f;
  word-break: keep-all;

  .td-outer {
    padding: 0;
  }

  .td-main {
    margin-bottom: 0;
  }

  .section {
    overflow: hidden;
    height: 60rem;
    //height: 100vh;
    &.bg-blue {
      background-color: rgba(0, 27, 51, 0.5);
    }
    .inner {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 2rem;
      width: 100%;
      height: 100%;
      max-width: 90rem;
      padding: 3.5rem 11.875rem;
      margin: 0 auto;
      text-align: center;
      color: $primary200;
      letter-spacing: -0.01em;
    }
    h3 {
      width: 100%;
      color: $pink100;
      font-weight: bold;
      opacity: 0.8;
      font-size: 1.25rem;
      text-transform: uppercase;
      text-align: left;
    }
  }

  .section-main {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100vw 100vh;
    background-image: url("/images/home/bg_section_main.png");
    h2 {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1;
      em {
        background: linear-gradient(to right, #65cba0, #cf88a0, #5ca2b1);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
      }
    }
    .sub-title {
      max-width: 39.0625rem;
      margin: 0 auto 1.5rem;
      color: $gray300;
      font-size: 1.5rem;
      line-height: 1.3;
    }
    .btn-group {
      display: inline-flex;
      justify-content: center;
      gap: 1.5rem;
    }
    .img-spaceman {
      display: inline-block;
      position: absolute;
      z-index: 0;
      &#spaceman {
        bottom: 10.8%;
        left: 50%;
        width: 11rem;
        height: 11rem;
        margin-left: 9rem;
      }
    }
  }

  .section-feature {
    .feature {
      display: grid;
      grid-template-columns: 20.25rem 43.5rem;
      grid-column-gap: 2.5rem;
      align-items: center;
      .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        h4 {
          color: $primary300;
          font-size: 2.25rem;
          line-height: 1.3;
          font-weight: 500;
        }
        .description {
          display: inline-block;
          margin-top: 2rem;
          font-size: 1.25rem;
          letter-spacing: -0.02em;
          color: $navy200;
        }
      }
      .img-feature {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }

  .feature-notification {
    .feature {
      grid-template-columns: auto;
      grid-row-gap: 2rem;
      justify-items: center;
      .contents {
        width: 55%;
        text-align: center;
      }
      .img-feature {
        width: 100%;
        max-width: 60rem;
        height: auto;
      }
    }
  }

  .feature-analysis {
    .feature {
      grid-template-columns: 43.5rem 20.25rem;
      .contents {
        order: 1;
      }
    }
  }

  .feature-by-project {
    .feature{
      grid-template-columns: 5fr 7fr;
    }
  }

  .section-strength {
    .strength-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2.5rem;
      width: 100%;
    }
    .strength {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2.5rem 1.5rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      text-align: left;
      .img-strength {
        width: 8.75rem;
        height: 8.75rem;
        margin: 0 auto;
      }
      h4 {
        margin-top: 1.5625rem;
        margin-bottom: 0.75rem;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.1875rem;
        letter-spacing: 0.0625rem;
        color: $primary300;
        letter-spacing: -0.0325rem;
      }
      .description {
        margin-bottom: 0;
        font-family: "Roboto", "pretenPretendard Variable";
        font-size: 1.25rem;
        line-height: 1.6;
        opacity: 0.8;
        color: $primary200;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #001b33;
        opacity: 0.3;
        box-shadow: 0 0.25rem 0.9375rem rgba(0, 92, 179, 0.3);
        border-radius: 0.5rem;
      }
    }
  }

  .section-universe {
    .inner {
      padding: 0;
    }
    h3 {
      visibility: hidden;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 13.5%;
      width: 6.25rem;
      text-align: center;
      transform: translateY(-50%);
    }
    .img-universe {
      width: 116.875rem;
      margin-left: -26.875rem;
    }
  }

  .section-mission {
    text-align: center;
    h4 {
      max-width: 40rem;
      font-size: 1.5rem;
      line-height: 1.3;
      color: $primary200;
      margin-bottom: 0;
      margin-right: auto;
      margin-left: auto;
      opacity: 0.8;
    }
    .img-mission {
      width: 6.875rem;
      height: 6.875rem;
    }
    .description {
      width: 43.75rem;
      font-weight: 500;
      font-size: 1.875rem;
      background: linear-gradient(to right, #65cba0, #cf88a0, #5ca2b1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // footer
  footer {
    background-color: $navy500;
    .inner {
      max-width: 90rem;
      margin: 0 auto;
      padding: 2rem 0 2.5rem;
      border-top: none;
      color: $navy300;
    }
  }
}

// desktop (temporary code)
//html::before {
//  position: fixed;
//  top:0;
//  left: 0;
//  z-index: 1000;
//  content: 'desktop';
//  color: red;
//  font-size: 3rem;
//}


// tablet
@media only screen and (max-width: 1439px) {
  //html::before {
  //  content: 'tablet'; // temporary code
  //}

  .td-home {
    .section {
      height: auto;
      .inner {
        max-width: 48rem;
        padding: 4rem 1.5rem;
      }
      h3 {
        text-align: center;
      }
    }

    .section-main {
      height: 100vh;
      background-size: 102% auto;
      background-position: 0 0;
      background-image: url("/images/home/bg_section_main_m.png");
      .img-spaceman{
        &#spaceman {
          bottom: 5%;
          left: unset;
          right: 0;
          transform: translateY(0);
        }
      }
    }

    .section-feature {
      .feature {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5rem;
        justify-items: center;

        .contents {
          width: 80%;
          text-align: center;
          .description {
            margin-top: 1.5rem;
          }
        }

        h4 {
          span {
            display: block;
          }
        }
      }
    }

    .feature-notification {
      .feature {
        .contents {
          width: 80%;
        }
      }
    }

    .feature-analysis {
      .feature {
        .contents {
          order: initial;
        }
      }
    }

    .section-strength {
      .strength-box {
        grid-template-columns: 1fr;
        row-gap: 1rem;
      }
      .strength {
        align-items: center;
        text-align: center;
        padding: 0;
        .img-strength {
          width: 5rem;
          height: 5rem;
        }
        h4 {
          margin-top: 1rem;
          margin-bottom: 0.75rem;
        }
        .description {
          width: 80%;
        }
        &::after {
          display: none;
        }
      }
    }

    .section-universe {
      .inner {
        max-width: unset;
        padding: 0;
      }
      h3 {
        visibility: visible;
        top: 3.5rem;
        left: auto;
        width: 100%;
        transform: translateY(0);
      }
      .img-universe {
        width: 100%;
        margin-left: 0;
      }
    }

    .section-mission {
      h4 {
        max-width: 36rem;
        .lb { // line-break
          display: block;
        }
      }
    }
  }
}


// mobile
@media screen and (max-width: 767px) {
  html, body {
    font-size: 62.5%; // 10px = 16px(browser default font size) * 0.625
    //&::before {
    //  content: 'mobile'; // temporary code
    //}
  }

  h2 {
    font-size: 4rem;
  }

  .td-home {
    .section {
      .inner {
        width: 36rem;
        gap: 1.6rem;
        padding: 3.5rem 1.5rem;
      }
    }

    .section-main {
      height: 100vh;
      background-size: 75rem auto;
      .btn-group {
        flex-direction: column;
        gap: 2.4rem;
      }
      .img-spaceman {
        &#spaceman {
          bottom: 1rem;
          left: unset;
          right: 0;
          margin-left: 0;
        }
      }
    }

    .section-feature {
      .feature {
        .contents {
          width: 100%;
        }
      }
    }

    .section-strength {
      .strength {
        .img-strength {
          width: 8rem;
          height: 8rem;
        }
        h4 {
          margin: 1.6rem 0 1.2rem;
        }
        .description {
          width: 100%;
          font-size: 1.3rem;
        }
      }
    }

    .section-universe {
      .inner {
        padding: 0;
      }
    }
  }

  .btn-link {
    min-width: 14.4rem;
    height: 4.1rem;
    font-size: 1.6rem;
  }

  .btn-link-gradient {
    &.link-github:before {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.6rem;
    }
  }
}

// korean version
*:lang(ko) .td-home {
  font-family: "Work Sans", "Pretendard Variable";

  .section-feature {
    .feature {
      .contents {
        width: 80%;
        h4 {
          span {
            display: block;
          }
        }
      }
    }
  }

  .feature-notification {
    .feature {
      .contents {
        width: 55%;
      }
    }
  }

  .feature-by-project {
    .feature {
      .contents {
        width: 92%;
        .description {
          width: 90%;
        }
      }
    }
  }

  .section-mission {
    h4 {
      max-width: unset;
      .lb {
        display:block;
      }
    }
  }

  @media screen and (max-width: 1439px) {
    .section-feature {
      .feature {
        .contents {
          h4 {
            span {
              display: inline-block;
            }
          }
        }
      }
    }

    .section-mission {
      h4 {
        max-width: 36rem;
      }
    }
  }

  @media screen and (max-width: 767px) {

    .section-main {
      h2 {
        font-size: 2.4rem;
        em {
          font-size: 4rem;
        }
      }
    }

    .section-mission {
      .description {
        .lb {
          display: block;
        }
      }
    }
  }
}


