.td-outer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: calc(#{$navbar-height} + #{$banner-height});
}

.td-main {
    flex-grow: 1;
    margin-bottom: 2rem;
    background-color: $white;

    main {
        width: 100%;
        padding-left: $td-sidebar-width;
        padding-right: $table-of-contents-with;

        @include media-breakpoint-down(md) {
            padding: 1rem;
        }
    }
}

@media only screen and (max-width: 1023px) {
    .td-outer {
        padding-top: calc(#{$navbar-height} + #{$banner-height});
    }
}

@media only screen and (max-width: 767px) {
    .td-outer {
        padding-top: calc(#{$navbar-height} + #{$banner-height} + 2.25rem);
    }
}
