.td-outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.td-main {
  flex-grow: 1;
  margin-bottom: 2rem;

  main {
    width: 100%;
    padding-top: calc(#{$navbar-height} + 1.5rem);
    padding-left: calc(#{$td-sidebar-width} + 1rem);
    padding-right: calc(#{$td-sidebar-width} + 1rem);

    @include media-breakpoint-down(md) {
      padding: 1rem;

    }
  }
}