.td-outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.td-main {
  flex-grow: 1;
  margin-bottom: 2rem;
  background-color: $white;

  main {
    width: 100%;
    padding-top: $navbar-height;
    padding-left: $td-sidebar-width;
    padding-right: $td-sidebar-width;

    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .td-outer {
    padding-top: $navbar-height;
  }
}

@media only screen and (max-width: 767px) {
  .td-outer {
    padding-top: calc(#{$navbar-height} + 2.25rem);
  }
}
