.td-navbar {
  min-height: 3.75rem;
  padding: 0 1.875rem;
  background-color: #001B33;
  color: $white;

  h1 {
    height: 3.75rem;
    margin-bottom: 0;
    font-size: unset;

    .logo {
      display: inline-block;
      width: 1.75rem;
      margin-right: 0.25rem;
    }

    .logo-text {
      display: inline-block;
      width: 8rem;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
    margin-right: 0;
    padding: 0;

    svg {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  .nav-list-wrap {
    display: flex;
    flex-grow: 1;
  }

  .nav-list {
    display: flex;
  }

  .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.75rem;
    padding: 0;
    font-size: 1.125rem;
    color: $white;
    font-weight: 500;
    transition: color .2s;
    &:not(.active):hover {
      color: $navy300;
      transition: color .2s;
    }
  }

  .nav-dropdown {
    position: relative;

    .nav-link {
      margin-right: 1.25rem;
      font-size: 0.875rem;
      font-weight: 400;
    }

    .dropdown-toggle::after {
      margin-left: 0.25rem;
      content:"\f078";
      font-family: 'Font Awesome 5 Free';
      font-size: 0.6rem;
      line-height: 1;
      border: none;
    }
  }
}

.nav-list1 {
  margin-right: auto;
  margin-left: 3.75rem;

  .nav-item {
    margin-right: 1.875rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.btn-menu {
  display: none;
}
@media only screen and (min-width: 1024px)  {
  .nav-link {

    &.active::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.25rem;
      background-color: $white;
    }
  }
}

@media only screen and (max-width: 1023.999px) {
  .td-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.875rem;

    h1 {
      position: relative;
      z-index: 10;
      height: auto;
      padding: 1rem 0;

      .logo-text {
        display: none;
      }
    }

    .nav-list-wrap {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      padding: 25vh 1.875rem 0;
      background-color:#001B33;
    }

    .btn-menu {
      position: relative;
      z-index: 10;
      display: inline-block;
      color: $white;
      border-radius: 0;
      background-color: transparent;
      font-size: 1.125rem;
      font-weight: normal;
      padding-right: 0;
      padding-left: 0;
    }

    .btn-menu.on {
      color: $navy300;
    }

    .btn-menu.on + .nav-list-wrap {
      display: block;
    }

    .nav-list {
      flex-direction: column;
    }

    .nav-list1 {
      margin: 0;

      li {
        margin-bottom: 1.25rem;
      }
    }

    .nav-list2 {
      margin-top: 1.5rem;

      li {
        margin-bottom: 1.5rem;
      }
    }

    .nav-item {
      margin-right: 0;
    }

    .nav-link {
      height: auto;
      width: 100%;
      font-size: 2rem;
      line-height: 1.3;

      &.active {
        color: $green100;
      }
    }

    .nav-search {
      width: 100%;
      margin-left: 0;
      padding-bottom: 1rem;
    }
  }
}