.section-index {
    .entry {
        &-list {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);

            .description {
                word-break: break-word;
            }
        }
        &-item {
            overflow: hidden;
            position: relative;
            border: solid 1px color-set(cool-gray,200);
            border-radius: 0.25rem;
            padding: 1.25rem;
            color: color-set(cool-gray,600);
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: color-set(blue,100);
            }
            &:hover {
                background-color: color-set(white,100);
                box-shadow: 0px 0px 1rem rgba(31, 27, 56, 0.1);
                cursor: pointer;
                &:before {
                    height: 0.25rem;
                    transition: height 0.3s;
                }
            }
            a {
                color: inherit;
            }
        }
        &-title {
            margin-bottom: 1rem;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
        }
        &-link {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    @media only screen and (max-width: 1023px) {
        .entry {
            &-list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media only screen and (max-width: 1023px) {
        .entry {
            &-list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

