@import "functions";
// Theme flags.
$td-enable-google-fonts: true;

// Typography
// See : https://www.figma.com/file/whECquPCFd6NTddaz3RZmP/Cloudforet-Site?node-id=5133%3A8909&t=o1EKFStZrZK9nlKP-1
@font-face { font-family:"Pretendard";  src:url("/fonts/Pretendard-Regular.woff2") format("woff2");  font-display: block;  font-weight: 400;  font-style: normal; }
@font-face { font-family:"Pretendard";  src:url("/fonts/Pretendard-Medium.woff2") format("woff2");  font-display: block;  font-weight: 500;  font-style: normal; }
@font-face { font-family:"Pretendard";  src:url("/fonts/Pretendard-SemiBold.woff2") format("woff2");  font-display: block;  font-weight: 600;  font-style: normal; }
@font-face { font-family:"Pretendard";  src:url("/fonts/Pretendard-Bold.woff2") format("woff2");  font-display: block;  font-weight: 700;  font-style: normal; }

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=block'); // This font is applied only to the Home page

$font-family-sans-serif: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Work Sans", $font-family-sans-serif;
$font-awesome: "Font Awesome 5 Free";

$line-height-normal: 1.5;
$line-height-tight: 1.25;
$line-height-none: 1;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$typography-size: (
        "heading1": 48px,
        "heading2": 30px,
        "heading3": 24px,
        "text-xl": 20px,
        "text-lg": 18px,
        "text-md": 16px,
        "text-sm": 14px,
        "button": 16px,
        "link": 16px,
        // home
        "slogan": 64px,
        "headline1": 36px,
        "headline2": 28px,
        "sub": 28px,
        "eyebrow": 20px,
);
$typography-size-mobile: (
        "heading1": 34px,
        "heading2": 24px,
        "heading3": 20px,
        // home
        "slogan": 40px,
        "headline1": 28px,
        "headline2": 18px,
        "sub": 18px,
        "eyebrow": 16px,
);
$typography-letter-spacing: (
        "heading1": -0.04em,
        "heading2": -0.04em,
        "heading3": -0.04em,
        "text-xl": 0,
        "text-lg": 0,
        "text-md": 0,
        "text-sm": 0,
        "button": 0,
        "link": 0,
        // home
        "slogan": -0.01em,
        "headline1": -0.04em,
        "headline2": -0.04em,
        "sub": -0.02em,
        "eyebrow": 0,
);
$typography-letter-spacing-mobile: (
        "heading1": -0.04em,
        "heading2": -0.04em,
        "heading3": -0.04em,
        // home
        "slogan": -0.01em,
        "headline1": -0.04em,
        "headline2": -0.04em,
        "sub": -0.04em,
        "eyebrow": 0,
);
$typography-line-height: (
        "heading1": $line-height-tight,
        "heading2": $line-height-tight,
        "heading3": $line-height-tight,
        "text-xl": $line-height-normal,
        "text-lg": $line-height-normal,
        "text-md": $line-height-normal,
        "text-sm": $line-height-normal,
        "button":  $line-height-tight,
        "link":  $line-height-normal,
        // home
        "slogan": $line-height-none,
        "headline1": $line-height-tight,
        "headline2": $line-height-tight,
        "sub": $line-height-tight,
        "eyebrow": $line-height-none,
);

// Color Set
$palettes: (
    cool-gray: (
        100: #F2F4F5,
        200: #D6DBDF,
        300: #BFC5CB,
        400: #A7ACBD,
        500: #8A8C9F,
        600: #53566E,
        700: #1F1B38,
    ),
    violet: (
        100: #EBEAF6,
        200: #B4B1E4,
        300: #8B33FF,
        400: #5906C6,
    ),
    blue: (
        100: #397BEE,
        200: #0F599F,
    ),
    pink: (
        100: #E8AAF2,
    ),
    peacock: (
        100: #65CBA0,
        200: #5CA2B1,
    ),
    black: (
        100: #000000,
    ),
    white: (
        100: #FFFFFF,
    ),
    gray: (
        100: #DCDAE9,
        200: #A7A9B2,
    ),
    gradation: (
        primary: linear-gradient(90deg, #00E6E5 0%, #C8A6F4 51.04%, #61A2F5 76.3%, #009FF5 100%),
        secondary: linear-gradient(92.98deg, #00E0D9 3.49%, #009FF5 94.89%),
        tertiary: linear-gradient(45deg, #89c2ef, #c99eff),
        base: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    ),
);

$link-color: color-set(blue,100);

// Fixed height(width) of elements
$banner-height: 24px;
$navbar-height: 3.75rem;
$td-sidebar-width: calc((100% - (16 * 11px)) / 12 * 2 + 1rem);
$table-of-contents-with: calc((100% - (16 * 11px)) / 12 * 2 + 1rem);
$dropdown-link-active-bg: color-set(violet,200) !default;

// Customized Icon
@function chevronIcon($color) {
    $color: '%23'+$color;
    $icon: "data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 22L6 12L7.4 10.6L16 19.2L24.6 10.6L26 12L16 22Z' fill='#{$color}'/%3E%3C/svg%3E%0A";
    @return url($icon);
}
@function externalIcon($color) {
    $color: '%23'+$color;
    $icon: "data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 29H5C4.46981 28.9992 3.96156 28.7882 3.58666 28.4133C3.21176 28.0384 3.00079 27.5302 3 27V7C3.00079 6.46981 3.21176 5.96156 3.58666 5.58666C3.96156 5.21176 4.46981 5.00079 5 5H15V7H5V27H25V17H27V27C26.9992 27.5302 26.7882 28.0384 26.4133 28.4133C26.0384 28.7882 25.5302 28.9992 25 29Z' fill='#{$color}'/%3E%3Cpath d='M19 3V5H25.586L17 13.586L18.414 15L27 6.414V13H29V3H19Z' fill='#{$color}'/%3E%3C/svg%3E%0A";
    @return url($icon);
}

// For the Home page only
$dark-bg: rgba(220, 218, 233, 0.1) !important;

