---
title: Home
---
{{% blocks/section name="main" %}}
<h2>すべてのクラウドリソースを<br /><em>一つのプラットフォーム</em>で管理する</h2>
<p class="sub-title">Cloudforetはマルチクラウドの統合管理する<br/>オープンソースプラットフォームです。</p>
<div class="btn-group">
    <a href="https://cloudforet.io/docs/setup_operation/install_guide/" class="btn-link btn-link-green" target="_blank"><span>初めてみましょう</span></a>
    <a href="https://github.com/cloudforet-io" class="btn-link btn-link-gradient link-github" target="_blank">GitHub</a>
</div>
{{% /blocks/section %}}

{{% blocks/feature name="management" section_title="独自の手法" thumbnail="/images/home/img_discover_manage_clouds.gif" title="<span>マルチクラウド</span><br />リソースの発見と管理" description="マルチクラウドリソースを一つのプラットフォームで収集および分類します。クラウドリソースを素早く検索し、詳細な情報をダッシュボードで分析します。" %}}{{% /blocks/feature %}}
{{% blocks/feature name="notification" bg_dark="true" title="イベントの通知と<br/>インシデントの自動管理" description="リアルタイムの通知により、インシデントに迅速に対応します。<br />ポストモーテム機能により、チームの能力を強化し、ユーザーエクスペリエンスを向上させます。" %}}
<picture>
    <source srcset="/images/home/img_notify_events_m.png" media="(max-width:767px)">
    <source srcset="/images/home/img_notify_events.png" media="(max-width:1440px)">
    <img src="/images/home/img_notify_events.png" alt="our approach" class="img-feature">
</picture>
{{% /blocks/feature %}}
{{% blocks/feature name="analysis" thumbnail="/images/home/img_analyze_cost.gif" title="コストを簡単に分析し、リソースを最適化します" description="請求の詳細を確認し、分析されたコストデータに基づいてリソースを最適化します。予算管理機能により、支出を抑制し、過剰支出を防止します。" %}}{{% /blocks/feature %}}
{{% blocks/feature name="by-project" bg_dark="true" thumbnail="/images/home/img_manage_resources_by_project.png" title="プロジェクトごとの<br/>リソースとアカウントの管理 <span></span>" description="プロジェクトとプロジェクトグループを構成し、クラウドリソースを管理します。RBAC機能によりユーザーアクセスを制御し、クラウドの可視性を<br/>管理します。" %}}{{% /blocks/feature %}}

{{% blocks/section name="strength" title="OUR STRENGTH" %}}
<div class="strength-box">
    {{% blocks/strength thumbnail="cloud" title="クラウドネイティブ" description="CloudforetはCloud Native技術であるK8S、gRPC、Helm、Prometheus、Istioを用いたマイクロサービスアーキテクチャをベースとしています。" %}}{{% /blocks/strength %}}
    {{% blocks/strength thumbnail="architecture" title="プラグインアーキテクチャ" description="独自のプラグインを構築し、他のユーザーと共有することができます。 プラグインアーキテクチャにより、Cloudforetはその機能を無限に拡張できます。" %}}{{% /blocks/strength %}}
    {{% blocks/strength thumbnail="box" title="APIを開く" description="サービスをオープンAPIと統合します。 Cloudforetは無制限の環境を提供し、簡単にカスタマイズできます。" %}}{{% /blocks/strength %}}
</div>
{{% /blocks/section %}}

{{% blocks/section name="universe" title="our universe" %}}
<picture>
    <source srcset="/images/home/img_universe_m.png" media="(max-width:1023px)">
    <source srcset="/images/home/img_universe.png" media="(max-width: 1024px)">
    <img src="/images/home/img_universe.png" alt="our universe" class="img-universe">
</picture>
{{% /blocks/section %}}

{{% blocks/section name="mission" %}}
<div class="text">
    <h4>オンプレミスとマルチクラウドにおける<br/>ITインフラストラクチャの運用方法を変える、<br/>より良い環境を実現します。</h4>
    <a href="https://cloudforet.io/docs/developers/contribute/" class="btn-link btn-link-gradient" target="_blank">参加方法</a>
</div>
<div class="wonny-friends">
    <img src="/images/home/img_spaceship.png" alt="" class="img-wonny float">
    <img src="/images/home/img_wonny_and_friends.png" alt=""  class="img-friends">
</div>
{{% /blocks/section %}}
