---
title: Home
---
{{% blocks/section name="main" %}}
<h2>Manage All<br />Cloud Resources<br />in <em>One Platform</em></h2>
<p class="sub-title">Cloudforet is an Open Source Platform for Enabling Integrated Management of Multi-Clouds.</p>
<div class="btn-group">
    <a href="https://www.spaceone.org/docs/setup_operation/install_guide/" class="btn-link btn-link-green" target="_blank"><span>Get Started</span></a>
    <a href="https://github.com/spaceone-dev" class="btn-link btn-link-gradient link-github" target="_blank">GitHub</a>
</div>
{{% /blocks/section %}}

{{% blocks/feature name="management" section_title="our approach" thumbnail="/images/home/img_discover_manage_clouds.gif" title="<span>Discover and Manage </span>Multi-Cloud Resources" description="Collect and categorize multi-cloud assets in ONE platform. Search cloud resources quickly and analyze them with detailed information in ONE dashboard." %}}{{% /blocks/feature %}}
{{% blocks/feature name="notification" bg_dark="true" title="Notify Events and Manage Incidents Automatically" description="Respond to incidents quickly with real-time notifications. Improve user experience by strengthening your team's capability based on post-mortem features." %}}
<picture>
    <source srcset="/images/home/img_notify_events_m.png" media="(max-width:767px)">
    <source srcset="/images/home/img_notify_events.png" media="(max-width:1440px)">
    <img src="/images/home/img_notify_events.png" alt="our approach" class="img-feature">
</picture>
{{% /blocks/feature %}}
{{% blocks/feature name="analysis" thumbnail="/images/home/img_analyze_cost.gif" title="Analyze Your Costs Easily and Optimize Resources" description="View your billing details thoroughly and optimize resources based on cost data analyzed. Control expenses and prevent overspendings with budget management feature." %}}{{% /blocks/feature %}}
{{% blocks/feature name="by-project" bg_dark="true" thumbnail="/images/home/img_manage_resources_by_project.png" title="Manage Your Cloud <br> Resources and Accounts <span>by Projects</span>" description="Organize projects and project groups to manage cloud resources. Control user access based on our RBAC feature to manage your cloud visibility." %}}{{% /blocks/feature %}}

{{% blocks/section name="strength" title="our strength" %}}
<div class="strength-box">
    {{% blocks/strength thumbnail="cloud" title="Cloud Native" description="Cloudforet is based on micro service architecture with Cloud Native technology; K8S, gRPC, Helm, Prometheus, and Istio." %}}{{% /blocks/strength %}}
    {{% blocks/strength thumbnail="architecture" title="Plugin Architecture" description="You can build your own plugin and share with others. Plugin Architecture allows Cloudforet to expand its features infinitely. " %}}{{% /blocks/strength %}}
    {{% blocks/strength thumbnail="box" title="Open API" description="Integrate your services with open APIs. Cloudforet provides an unbounded environment for easy customization." %}}{{% /blocks/strength %}}
</div>
{{% /blocks/section %}}

{{% blocks/section name="universe" title="our universe" %}}
<picture>
    <source srcset="/images/home/img_universe_m.png" media="(max-width:1023px)">
    <source srcset="/images/home/img_universe.png" media="(max-width: 1024px)">
    <img src="/images/home/img_universe.png" alt="our universe" class="img-universe">
</picture>
{{% /blocks/section %}}

{{% blocks/section name="mission" %}}
<h4><span class="lb">Together,</span> we make OUR UNIVERSE a better place that changes the way you operate IT infrastructure across on-premises and multi-clouds.</h4>
<figure id="spaceship" class="img-mission"></figure>
<p class="description">Climb Aboard</p>
<a href="https://www.spaceone.org/docs/developers/contribute/" class="btn-link btn-link-gradient" target="_blank">Join us</a>
{{% /blocks/section %}}
