<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body class="td-{{ .Kind }}">
        {{ partial "banner.html" . }}
        <header>
            {{ partial "navbar.html" . }}
        </header>
        <div class="flex td-outer community">
            <main role="main">
                {{ block "main" . }}{{ end }}
            </main>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "scripts.html" . }}
        {{ partial "accordion-script.html" . }}
    </body>
</html>
