<footer class="footer-home">
    <div class="footer-content">
        <figure class="logo"></figure>
        <div class="info copyright">
            <h4>SpaceONE<br />Copyright 2021</h4>
            <p class="info"><span>Sponsored by </span>MEGAZONE Cloud</p>
        </div>
        <div class="info contact">
            <h4>Contact</h4>
            <a class="info" href="mailto:support@spaceone.dev" target="_blank" rel="noreferrer">support@spaceone.dev</a>
        </div>
        <div class="info address">
            <h4>Seoul</h4>
            <span class="info">46, Nonhyeon-ro 85-gil <br />Gangnam-gu, Seoul, Korea</span>
            <br />
            <a className="info" href="tel:+82 1644-2243">+82 1644-2243</a>
        </div>
    </div>
</footer>