{{ $links := .Site.Params.links }}
<footer class="d-print-none footer swiper-slide">
    <div class="inner">
       <div class="copyright">
           {{ if .IsHome }}
            <img src="/images/home/spaceone_fnb_logo.png" alt="Home footer logo">
           {{ else }}
            <img src="/images/brand_logo.svg" alt="footer logo">
           {{ end }}
            <p class="license">Documentation Distributed under <a href="https://github.com/spaceone-dev/docs/blob/master/LICENSE">CC BY 4.0</a></p>
        </div>
        <div class="external-link">
            <a href="https://discuss.spaceone.org/" target="_blank"><i class="fas fa-comment-dots"></i></a>
            <a href="https://github.com/spaceone-dev" target="_blank"><i class="fab fa-github fa-fw"></i></a>
        </div>
    </div>
</footer>
