<nav class="navbar td-navbar">
    <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
        <img src="/images/logo.svg" alt="" class="logo">
        <img src="/images/logo_text.svg" alt="SpaceONE" class="logo-text">
    </a>
    <button class="btn btn-menu fas fa-bars" id="btn-menu"> Menu</button>
    <div class="nav-list-wrap">
        <ul class="nav-list nav-list1">
            {{ $p := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item mr-4 mb-2 mb-lg-0">
                {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
                {{ with .Page }}
                {{ $active = or $active ( $.IsDescendant .)  }}
                {{ end }}
                {{ $pre := .Pre }}
                {{ $post := .Post }}
                {{ $url := urls.Parse .URL }}
                {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
                <a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ with .Pre}}{{ $pre }}{{ end }}{{ .Name }}{{ with .Post}}{{ $post }}{{ end }}</a>
            </li>
            {{ end }}
        </ul>
        <ul class="nav-list nav-list2">
            {{ if  .Site.Params.versions }}
            <li class="nav-dropdown">
                {{ partial "navbar-version-selector.html" . }}
            </li>
            {{ end }}
            {{ if  (gt (len .Site.Home.Translations) 0) }}
            <li class="nav-dropdown">
                {{ partial "navbar-lang-selector.html" . }}
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="nav-search">{{ partial "search-input.html" . }}</div>
</nav>
<script>
var el = document.querySelector('#btn-menu');
el.onclick = function() {
    el.classList.toggle('on');
}
</script>
